### pandas07; multi index

In [1]:
import numpy as np
import pandas as pd

### 멀티 인덱스 
- pandas mutli index지원 
- index 방향 column 방향 모두 multi 가능하다

#### 다중 인덱스의 좋지 않은 형태

In [4]:
multi_df = pd.DataFrame(np.random.randn(4,4),index=[('Group01','col01'),('Group02','col02'),('Group03','col03'),('Group04','col04')])
display(multi_df)

                         0         1         2         3
(Group01, col01)  0.149436 -0.126465 -0.106692  1.327128
(Group02, col02) -1.225975 -0.828206  1.326796  0.056881
(Group03, col03)  0.120482 -0.190184 -1.792524  0.499005
(Group04, col04)  0.182951 -0.513043  0.359277 -1.357466