In [1]:
import numpy as np
import pandas as pd

### 집계함수

### apply

In [7]:
np.random.seed(100)
temp_frm = pd.DataFrame(np.random.randint(0, 10, (6,4)))

temp_frm.columns = ['A', 'B', 'C', 'D']
temp_frm.index   = pd.date_range('20210902'  , periods=6)
temp_frm

            A  B  C  D
2021-09-02  8  8  3  7
2021-09-03  7  0  4  2
2021-09-04  5  2  2  2
2021-09-05  1  0  8  4
2021-09-06  0  9  6  2
2021-09-07  4  1  5  3

In [6]:
temp_frm.apply(lambda x:print(x),axis=0)

2021-09-02    8
2021-09-03    7
2021-09-04    5
2021-09-05    1
2021-09-06    0
2021-09-07    4
Freq: D, Name: A, dtype: int64
2021-09-02    8
2021-09-03    0
2021-09-04    2
2021-09-05    0
2021-09-06    9
2021-09-07    1
Freq: D, Name: B, dtype: int64
2021-09-02    3
2021-09-03    4
2021-09-04    2
2021-09-05    8
2021-09-06    6
2021-09-07    5
Freq: D, Name: C, dtype: int64
2021-09-02    7
2021-09-03    2
2021-09-04    2
2021-09-05    4
2021-09-06    2
2021-09-07    3
Freq: D, Name: D, dtype: int64

A    None
B    None
C    None
D    None
dtype: object

In [5]:
temp_frm.apply(lambda x:print(x),axis=1)

A    8
B    8
C    3
D    7
Name: 2021-09-02 00:00:00, dtype: int64
A    7
B    0
C    4
D    2
Name: 2021-09-03 00:00:00, dtype: int64
A    5
B    2
C    2
D    2
Name: 2021-09-04 00:00:00, dtype: int64
A    1
B    0
C    8
D    4
Name: 2021-09-05 00:00:00, dtype: int64
A    0
B    9
C    6
D    2
Name: 2021-09-06 00:00:00, dtype: int64
A    4
B    1
C    5
D    3
Name: 2021-09-07 00:00:00, dtype: int64

2021-09-02    None
2021-09-03    None
2021-09-04    None
2021-09-05    None
2021-09-06    None
2021-09-07    None
Freq: D, dtype: object

In [9]:
print('각 행에 대해서 최대값 - 최소값을 구해서 새로운 열을 추가한다면? - ')
print(temp_frm.apply(lambda frm : frm.max() - frm.min() , axis = 1))
print(temp_frm.apply(lambda frm : max(frm) - min(frm) , axis = 1))

각 행에 대해서 최대값 - 최소값을 구해서 새로운 열을 추가한다면? -
2021-09-02    5
2021-09-03    7
2021-09-04    3
2021-09-05    8
2021-09-06    9
2021-09-07    4
Freq: D, dtype: int64
2021-09-02    5
2021-09-03    7
2021-09-04    3
2021-09-05    8
2021-09-06    9
2021-09-07    4
Freq: D, dtype: int64

#### 왜 np.max가 아닌 그냥 max를 썻는데 에러가 발생하지 않을까?

### groupby