## R13 ; data.frame functions-5 ; practice data processing

In [2]:
library(dplyr)
library(ggplot2)
mpg.df<-as.data.frame(mpg)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang

In [4]:
# 1. 자동차 배기량에 따라 고속도로 연비가 다른지 알아보려 한다. 
# displ(배기량)이 4 이하인 자동차와 4 초과인 자동차 중 
# 어떤 자동차의 hwy(고속도로 연비)가 평균적으로 더 높은지 확인하세요.
mpg %>% group_by(displ>4) %>% summarise(mean=mean(hwy))
with(mpg.df,aggregate(mpg.df['hwy'],list(displ_over_4=(displ>4)),mean))
aggregate(mpg.df['hwy'],list(displ_over_4=(mpg$displ>4)),mean)

  displ > 4 mean
1 FALSE     25.96319
2  TRUE     17.64789

  displ_over_4 hwy
1 FALSE        25.96319
2  TRUE        17.64789

  displ_over_4 hwy
1 FALSE        25.96319
2  TRUE        17.64789

In [5]:
# 2. 자동차 제조 회사에 따라 도시 연비가 다른지 알아보려고 한다. 
# "audi"와 "toyota" 중 어느 manufacturer(제조회사)의 cty(도시 연비)가 
# 평균적으로 더 높은지 확인하세요.
mpg %>%
  filter(manufacturer=='audi'|manufacturer=='toyota') %>% 
  group_by(manufacturer) %>% 
  summarize(mean=mean(hwy))

  manufacturer mean
1 audi         26.44444
2 toyota       24.91176

In [6]:
# 3. "chevrolet", "ford", "honda" 자동차의 고속도로 연비 평균을 알아보려고 한다. 
# 이 회사들의 데이터를 추출한 후 hwy(고속도로 연비) 전체 평균을 구하세요.
mpg %>%
  filter(manufacturer=='chevrolet'|manufacturer=='ford'|manufacturer=='honda') %>% 
  group_by(manufacturer) %>% 
  summarize(mean=mean(hwy))

  manufacturer mean
1 chevrolet    21.89474
2 ford         19.36000
3 honda        32.55556

In [7]:
# 4. "audi"에서 생산한 자동차 중에 어떤 자동차 모델의 hwy(고속도로 연비)가 
# 높은지 알아보려고 한다. "audi"에서 생산한 자동차 중 hwy가 1~5위에 해당하는 
# 자동차의 데이터를 출력하세요.
mpg %>% 
  filter(manufacturer=='audi') %>% 
  arrange(desc(hwy)) %>% 
  head(5)

  manufacturer model      displ year cyl trans      drv cty hwy fl class
1 audi         a4         2.0   2008 4   manual(m6) f   20  31  p  compact
2 audi         a4         2.0   2008 4   auto(av)   f   21  30  p  compact
3 audi         a4         1.8   1999 4   auto(l5)   f   18  29  p  compact
4 audi         a4         1.8   1999 4   manual(m5) f   21  29  p  compact
5 audi         a4 quattro 2.0   2008 4   manual(m6) 4   20  28  p  compact

In [8]:
# 5. mpg 데이터는 연비를 나타내는 변수가 2개입니다. 
# 두 변수를 각각 활용하는 대신 하나의 통합 연비 변수를 만들어 사용하려 합니다. 
# 평균 연비 변수는 두 연비(고속도로와 도시)의 평균을 이용합니다. 
# 회사별로 "suv" 자동차의 평균 연비를 구한후 내림차순으로 정렬한 후 1~5위까지 데이터를 출력하세요.
mpg %>% 
  filter(class=='suv') %>% 
  group_by(manufacturer) %>% 
  mutate(integrate=cty+hwy) %>% 
  summarize(integrate_mean=mean(integrate)) %>% 
  arrange(desc(integrate_mean)) %>% 
  head(5)

  manufacturer integrate_mean
1 subaru       43.83333
2 toyota       32.62500
3 nissan       31.75000
4 mercury      31.25000
5 jeep         31.12500

In [9]:
# 6. mpg 데이터의 class는 "suv", "compact" 등 자동차의 특징에 따라 
# 일곱 종류로 분류한 변수입니다. 어떤 차종의 도시 연비가 높은지 비교하려 합니다. 
# class별 cty 평균을 구하고 cty 평균이 높은 순으로 정렬해 출력하세요.
mpg %>%
  group_by(class) %>% 
  summarize(cty_mean=mean(cty)) %>% 
  arrange(desc(cty_mean))

  class      cty_mean
1 subcompact 20.37143
2 compact    20.12766
3 midsize    18.75610
4 minivan    15.81818
5 2seater    15.40000
6 suv        13.50000
7 pickup     13.00000

In [10]:
# 7. 어떤 회사 자동차의 hwy(고속도로 연비)가 가장 높은지 알아보려 합니다. 
# hwy(고속도로 연비) 평균이 가장 높은 회사 세 곳을 출력하세요.
mpg %>%
  group_by(manufacturer) %>% 
  summarize(hwy_mean=mean(hwy)) %>% 
  arrange(desc(hwy_mean)) %>% 
  head(3)

  manufacturer hwy_mean
1 honda        32.55556
2 volkswagen   29.22222
3 hyundai      26.85714

In [11]:
# 8. 어떤 회사에서 "compact" 차종을 가장 많이 생산하는지 알아보려고 합니다. 
# 각 회사별 "compact" 차종 수를 내림차순으로 정렬해 출력하세요
mpg %>% 
  filter(class=='compact') %>% 
  group_by(manufacturer) %>% 
  summarise(cnt=n()) %>% 
  arrange(desc(cnt))

  manufacturer cnt
1 audi         15
2 volkswagen   14
3 toyota       12
4 subaru        4
5 nissan        2