### R02 ; vector functions
- Print 와 관련된 함수들
- 수학 함수
- 그 외 유용한 함수들

### print와 관련된 함수들
1. print() 
2. paste()
3. sprintf()
4. cat()

#### 1.print() 
- 가장 기본적인 출력함수다
- 파이썬이랑 다르게 print(a,b,c) 여러개 출력 안된다
- vector matrix list 다 객체주소가 아니라 실제 값들 출력된다

In [12]:
a <- list(a=c(1,2,3))
print(a)

# error
print(1,2,3,4)

$a
[1] 1 2 3

ERROR: Error in print.default(1, 2, 3, 4): 유효하지 않은 'na.print' 지정입니다

#### 2.sprinf()
- formating 을 위한 함수다 
- %d : integer
- %f : float
- %s : character

In [13]:
sprintf("%d",123)
sprintf("Number : %d",123)
sprintf("Number : %f",123)
sprintf("String :%s",123)
sprintf("Number :%d, String:%s",123,"123")

[1] "123"

[1] "Number : 123"

[1] "Number : 123.000000"

[1] "String :123"

[1] "Number :123, String:123"

#### 3.paste()
- 출력함수라기 보다 굉장히 유요한 문자열 concatenate 함수다
- paste(...,sep=" ",collapse=NULL)
- paste0(...,collapse=NULL)

In [7]:
year = c(2020,2021)
name = c('kanghee','soojin')
paste(name,'(',year,')')

[1] "kanghee ( 2020 )" "soojin ( 2021 )"

In [18]:
#charater vs character
paste("a","b",sep=",") #default 구분자 " "로 두 단어 합쳐준다
paste("a","b",sep=",") #구분자를 ,로 두 단어를 더해준다
paste("a","b",sep=",",collapse=";") #=> 단어 1개 단어 1개 결합에서는 collapse가 의미없다

[1] "a,b"

[1] "a,b"

[1] "a,b"

In [37]:
# vector vs vector
# paste의 진가가 발휘되는 순간이다
number <- 1:12
str<-c("st","nd","rd",rep("th",9))
paste(number,str)  #원소 대 원소로 결합한다
paste(number,str,sep="")
paste0(number,str) #paste0는 paste에서 sep ="" 하고 같다
paste(number,str,sep="",collapse=";") #각각의 결과값들을 나누는 경계가 허물어졌다고 생각하자=>하나의 문자열이 됬다

 [1] "1 st"  "2 nd"  "3 rd"  "4 th"  "5 th"  "6 th"  "7 th"  "8 th"  "9 th"
[10] "10 th" "11 th" "12 th"

 [1] "1st"  "2nd"  "3rd"  "4th"  "5th"  "6th"  "7th"  "8th"  "9th"  "10th"
[11] "11th" "12th"

 [1] "1st"  "2nd"  "3rd"  "4th"  "5th"  "6th"  "7th"  "8th"  "9th"  "10th"
[11] "11th" "12th"

[1] "1st;2nd;3rd;4th;5th;6th;7th;8th;9th;10th;11th;12th"

#### 4.cat()
- 새로운 행을 개행하지 않고 한줄에 같이 출력해준다
- cat(1,2,3,,,,,) 여러개 동시 출력 가능
- cat(,,,sep=" ") 구분자 옵션 줄수 있다

In [36]:
cat("a","b","c","\n")
cat("a","b","c",sep=",")

a b c
a,b,c

### R에서는 유용한 수학적 함수들을 내장함수로 제공한다
- 당연히 벡터를 인수를 호출 가능하다
- sqrt() abs() log() exp() factorial() choose() options() round() floor() ceiling()
- min() max() sum() meidan() range() sd()
- cusum() diff()

In [44]:
#sqrt() identical() all.equal()

sqrt(2)
sqrt(2)^2
sqrt(2)^2==2 # 이거 상식적으로 True 나와야 한다 => 아닌 이유는 매우 작지만 부동소수점에 의해 오차가 있다
identical(sqrt(2)^2,2) # False다

# 아주 미세한 오차를 무시해줄때는
all.equal(sqrt(2)^2,2) # True값이 반환된다

[1] 1.414214

[1] 2

[1] FALSE

[1] FALSE

[1] TRUE

In [46]:
#abs()
abs(-2)
abs(-3:3)

[1] 2

[1] 3 2 1 0 1 2 3

In [53]:
#log()
log(1:5) # base지정 안하면 ln이다 
log(1:5,base=10)
#자주 사용되는 log들은 함수 따로 존재
log2(1:5)
log10(1:5)

#exp()
exp(1:5)
log(exp(1:5))

[1] 0.0000000 0.6931472 1.0986123 1.3862944 1.6094379

[1] 0.0000000 0.3010300 0.4771213 0.6020600 0.6989700

[1] 0.000000 1.000000 1.584963 2.000000 2.321928

[1] 0.0000000 0.3010300 0.4771213 0.6020600 0.6989700

[1]   2.718282   7.389056  20.085537  54.598150 148.413159

[1] 1 2 3 4 5

In [57]:
# factorial
factorial(1:5) # 1! 2! 3! 4! 5!

#choose Combination
choose(5,2)
choose(5:6,2)

[1]   1   2   6  24 120

[1] 10

[1] 10 15

In [75]:
# round(): 음수 양수 상관없이 지정한 위치에서 반올림 
round(191.1323,3) #소숫점 3번째 자리 까지

# floor():내림 ; 인수보다 작은 가장 가까운 정수
floor(191.1323)
# ceiling():올림  ; 인수보다 큰 가장 가까운 정수
ceiling(191.1323)
# trunc(): 음수 양수 상관없이 버림
trunc(191.1323)


#아래 결과값들 확인해보자
#round(-421.3) 
#round(-421.5)
#floor(-421.3)
#floor(-421.5)
#ceiling(-421.3)
#ceiling(-421.5)
#trunc(-421.3)
#trunc(-421.5)

[1] 191.132

[1] 191

[1] 192

[1] 191

In [81]:
# cumsum() => 누적 합
a<-1:10
cumsum(a)

# diff()
b<-seq(1,10,2)
diff(b) # 원소들끼리의 차이=> a[2]-a[1] a[3]-a[2] ,,, a[5]-a[1]

 [1]  1  3  6 10 15 21 28 36 45 55

[1] 2 2 2 2