## R12 ; data.frame functions-4 ; dplyr

#### 대표적인 함수들
- filter() : 지정한 조건식에 맞는 데이터 추출
- select() : 열 추출
- mutate() : 열 추가 
- arrange(): 정렬
- group_by() : 그룹
- summarise(): 집계

- 데이터 전처리의 대부분은 주어진 데이터를 분할하고 , 함수를 적용하고 , 결과들을 다시 결합하는 일련의 과정으로 이루어진다. 이러한 일련의 과정을 SAC(Split Apply Combine) 이라고 한다. 
- dplyr 패키지 에서는 이러한 계산의 과정을 보다 간략하게 처리하기 위해서 pipe operator  %>% 을 제공한다. 파이프 연산자를 통해 출력 결과 혹은 데이터를 변수 값에 저장할 필요없이 다음 함수의 첫번째 인수로 전달한다
- dply 패키지는 tbl_df() 함수를 통해 데이터 프레임을 tbl 객체로 변환할 수 있다. tibble 객체는 내부에 데이터 프레임을 품고있음으로 동일하게 취급해도 좋다
- tbl 객체를 사용하는 이유는 열이 너무 많을시 구조나 출력값을 확인하기 힘들 수 있다. 이때 tbl 객체는 한 콘솔 화면에 데이터가 잘 식별되게 보여준다

In [67]:
#tbl_df
print(tbl_df(iris))
class(tbl_df(iris))
#as.data.frame 통해 다시 원상복구 가능하다

# A tibble: 150 x 5
   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
          <dbl>       <dbl>        <dbl>       <dbl> <fct>
 1          5.1         3.5          1.4         0.2 setosa
 2          4.9         3            1.4         0.2 setosa
 3          4.7         3.2          1.3         0.2 setosa
 4          4.6         3.1          1.5         0.2 setosa
 5          5           3.6          1.4         0.2 setosa
 6          5.4         3.9          1.7         0.4 setosa
 7          4.6         3.4          1.4         0.3 setosa
 8          5           3.4          1.5         0.2 setosa
 9          4.4         2.9          1.4         0.2 setosa
10          4.9         3.1          1.5         0.1 setosa
# … with 140 more rows

[1] "tbl_df"     "tbl"        "data.frame"

In [1]:
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

#### 1. filter()
- 조건에 충족하는 행들을 추출한다
- data.frame or tibble에 사용 가능
- 가변인자를 통해 여러 logical conditon 줄 수 있다
- R에서 기본 제공하는 subset 함수와 동일하다

In [7]:
library(hflights)
flight.df <- hflights
flight.tbl <- hflights
head(filter(flight.df,Month==1,DayofMonth==1)) #반환값은 data로 들어간 class에 맞춰 나온다
head(filter(flight.tbl,Month==1&DayofMonth==1))#여기선 tbl로 나오는게 맞다

head(subset(flight.df,subset = Month==1&DayofMonth==1)) #차이점은 row.names가 초기화 되어있지 않다
# 잠깐 출력 값들의 차이를 보면

  Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
1 2011 1     1          6         1400    1500    AA             428
2 2011 1     1          6          728     840    AA             460
3 2011 1     1          6         1631    1736    AA            1121
4 2011 1     1          6         1756    2112    AA            1294
5 2011 1     1          6         1012    1347    AA            1700
6 2011 1     1          6         1211    1325    AA            1820
  TailNum ActualElapsedTime ... ArrDelay DepDelay Origin Dest Distance TaxiIn
1 N576AA   60               ... -10       0       IAH    DFW  224       7
2 N520AA   72               ...   5       8       IAH    DFW  224       6
3 N4WVAA   65               ...  -9       1       IAH    DFW  224      16
4 N3DGAA  136               ...  -3       1       IAH    MIA  964       9
5 N3DAAA  155               ...   7      -8       IAH    MIA  964      12
6 N593AA   74               ...  15       6       IAH    DFW  224       6
  TaxiOut Cancelled CancellationCode Diverted
1 13      0                          0
2 25      0                          0
3 12      0                          0
4 14      0                          0
5 26      0                          0
6 29      0                          0

  Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
1 2011 1     1          6         1400    1500    AA             428
2 2011 1     1          6          728     840    AA             460
3 2011 1     1          6         1631    1736    AA            1121
4 2011 1     1          6         1756    2112    AA            1294
5 2011 1     1          6         1012    1347    AA            1700
6 2011 1     1          6         1211    1325    AA            1820
  TailNum ActualElapsedTime ... ArrDelay DepDelay Origin Dest Distance TaxiIn
1 N576AA   60               ... -10       0       IAH    DFW  224       7
2 N520AA   72               ...   5       8       IAH    DFW  224       6
3 N4WVAA   65               ...  -9       1       IAH    DFW  224      16
4 N3DGAA  136               ...  -3       1       IAH    MIA  964       9
5 N3DAAA  155               ...   7      -8       IAH    MIA  964      12
6 N593AA   74               ...  15       6       IAH    DFW  224       6
  TaxiOut Cancelled CancellationCode Diverted
1 13      0                          0
2 25      0                          0
3 12      0                          0
4 14      0                          0
5 26      0                          0
6 29      0                          0

      Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
5424  2011 1     1          6         1400    1500    AA             428
6343  2011 1     1          6          728     840    AA             460
19266 2011 1     1          6         1631    1736    AA            1121
23655 2011 1     1          6         1756    2112    AA            1294
33051 2011 1     1          6         1012    1347    AA            1700
35256 2011 1     1          6         1211    1325    AA            1820
      TailNum ActualElapsedTime ... ArrDelay DepDelay Origin Dest Distance
5424  N576AA   60               ... -10       0       IAH    DFW  224
6343  N520AA   72               ...   5       8       IAH    DFW  224
19266 N4WVAA   65               ...  -9       1       IAH    DFW  224
23655 N3DGAA  136               ...  -3       1       IAH    MIA  964
33051 N3DAAA  155               ...   7      -8       IAH    MIA  964
35256 N593AA   74               ...  15       6       IAH    DFW  224
      TaxiIn TaxiOut Cancelled CancellationCode Diverted
5424   7     13      0                          0
6343   6     25      0                          0
19266 16     12      0                          0
23655  9     14      0                          0
33051 12     26      0                          0
35256  6     29      0                          0

#### 2. slice()
- 단순히 특정 위치의 행을 추출

In [15]:
slice(iris,10:15)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 4.9          3.1         1.5          0.1         setosa
2 5.4          3.7         1.5          0.2         setosa
3 4.8          3.4         1.6          0.2         setosa
4 4.8          3.0         1.4          0.1         setosa
5 4.3          3.0         1.1          0.1         setosa
6 5.8          4.0         1.2          0.2         setosa

#### 3. select()
- 열을 선택한다
- 가변 인자를 통해 여러 열 추출 가능
- : 을 통해 슬라이싱이 가능하다
- - 빼기 기호 통해 뺄수도 있다
- 열의 이름을 변경도 가능
- R에서 기본 제공하는 subset도 동일한 기능 수행

In [18]:
library(hflights)
flight.df <- hflights
flight.tbl <- hflights
head(select(flight.tbl,Year,Month,Day=DayofMonth))
head(select(flight.tbl,Year:DayofMonth))

     Year Month Day
5424 2011 1     1
5425 2011 1     2
5426 2011 1     3
5427 2011 1     4
5428 2011 1     5
5429 2011 1     6

     Year Month DayofMonth
5424 2011 1     1
5425 2011 1     2
5426 2011 1     3
5427 2011 1     4
5428 2011 1     5
5429 2011 1     6

In [12]:
library(hflights)
flight.df <- hflights
flight.tbl <- hflights
head(select(flight.tbl,-c(Year,Month,DayofMonth)))
head(select(flight.tbl,-(Year:DayofMonth)))
head(subset(flight.df,select = -c(Year,Month,DayofMonth)))

     DayOfWeek DepTime ArrTime UniqueCarrier FlightNum TailNum
5424 6         1400    1500    AA            428       N576AA
5425 7         1401    1501    AA            428       N557AA
5426 1         1352    1502    AA            428       N541AA
5427 2         1403    1513    AA            428       N403AA
5428 3         1405    1507    AA            428       N492AA
5429 4         1359    1503    AA            428       N262AA
     ActualElapsedTime AirTime ArrDelay DepDelay Origin Dest Distance TaxiIn
5424 60                40      -10       0       IAH    DFW  224      7
5425 60                45       -9       1       IAH    DFW  224      6
5426 70                48       -8      -8       IAH    DFW  224      5
5427 70                39        3       3       IAH    DFW  224      9
5428 62                44       -3       5       IAH    DFW  224      9
5429 64                45       -7      -1       IAH    DFW  224      6
     TaxiOut Cancelled CancellationCode Diverted
5424 13      0                          0
5425  9      0                          0
5426 17      0                          0
5427 22      0                          0
5428  9      0                          0
5429 13      0                          0

     DayOfWeek DepTime ArrTime UniqueCarrier FlightNum TailNum
5424 6         1400    1500    AA            428       N576AA
5425 7         1401    1501    AA            428       N557AA
5426 1         1352    1502    AA            428       N541AA
5427 2         1403    1513    AA            428       N403AA
5428 3         1405    1507    AA            428       N492AA
5429 4         1359    1503    AA            428       N262AA
     ActualElapsedTime AirTime ArrDelay DepDelay Origin Dest Distance TaxiIn
5424 60                40      -10       0       IAH    DFW  224      7
5425 60                45       -9       1       IAH    DFW  224      6
5426 70                48       -8      -8       IAH    DFW  224      5
5427 70                39        3       3       IAH    DFW  224      9
5428 62                44       -3       5       IAH    DFW  224      9
5429 64                45       -7      -1       IAH    DFW  224      6
     TaxiOut Cancelled CancellationCode Diverted
5424 13      0                          0
5425  9      0                          0
5426 17      0                          0
5427 22      0                          0
5428  9      0                          0
5429 13      0                          0

     DayOfWeek DepTime ArrTime UniqueCarrier FlightNum TailNum
5424 6         1400    1500    AA            428       N576AA
5425 7         1401    1501    AA            428       N557AA
5426 1         1352    1502    AA            428       N541AA
5427 2         1403    1513    AA            428       N403AA
5428 3         1405    1507    AA            428       N492AA
5429 4         1359    1503    AA            428       N262AA
     ActualElapsedTime AirTime ArrDelay DepDelay Origin Dest Distance TaxiIn
5424 60                40      -10       0       IAH    DFW  224      7
5425 60                45       -9       1       IAH    DFW  224      6
5426 70                48       -8      -8       IAH    DFW  224      5
5427 70                39        3       3       IAH    DFW  224      9
5428 62                44       -3       5       IAH    DFW  224      9
5429 64                45       -7      -1       IAH    DFW  224      6
     TaxiOut Cancelled CancellationCode Diverted
5424 13      0                          0
5425  9      0                          0
5426 17      0                          0
5427 22      0                          0
5428  9      0                          0
5429 13      0                          0

#### 4. rename()
- new_name = old_name 의 순서를 기억하자

In [23]:
head(rename(iris,S.Length=Sepal.Length,P.Length=Petal.Length))

  S.Length Sepal.Width P.Length Petal.Width Species
1 5.1      3.5         1.4      0.2         setosa
2 4.9      3.0         1.4      0.2         setosa
3 4.7      3.2         1.3      0.2         setosa
4 4.6      3.1         1.5      0.2         setosa
5 5.0      3.6         1.4      0.2         setosa
6 5.4      3.9         1.7      0.4         setosa

#### 5. arrange()
- 소팅 기준 열을 지정
- 가변인자를 통해 소팅 기준을 위한 열을 여러개 지정가능
- desc()를 통해 내림차순 사용 가능
- R에서 기본 제공하는 order함수도 동일한 기능 가능

In [17]:
library(hflights)
flight.df <- hflights
flight.tbl <- hflights
arrange(flight.tbl,Month)
arrange(flight.tbl,desc(Month),Year)

       Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
1      2011 1      1         6         1400    1500    AA            428
2      2011 1      2         7         1401    1501    AA            428
3      2011 1      3         1         1352    1502    AA            428
4      2011 1      4         2         1403    1513    AA            428
5      2011 1      5         3         1405    1507    AA            428
6      2011 1      6         4         1359    1503    AA            428
7      2011 1      7         5         1359    1509    AA            428
8      2011 1      8         6         1355    1454    AA            428
9      2011 1      9         7         1443    1554    AA            428
10     2011 1     10         1         1443    1553    AA            428
11     2011 1     11         2         1429    1539    AA            428
12     2011 1     12         3         1419    1515    AA            428
13     2011 1     13         4         1358    1501    AA            428
14     2011 1     14         5         1357    1504    AA            428
15     2011 1     15         6         1359    1459    AA            428
16     2011 1     16         7         1359    1509    AA            428
17     2011 1     17         1         1530    1634    AA            428
18     2011 1     18         2         1408    1508    AA            428
19     2011 1     19         3         1356    1503    AA            428
20     2011 1     20         4         1507    1622    AA            428
21     2011 1     21         5         1357    1459    AA            428
22     2011 1     22         6         1355    1456    AA            428
23     2011 1     23         7         1356    1501    AA            428
24     2011 1     24         1         1356    1513    AA            428
25     2011 1     25         2         1352    1452    AA            428
26     2011 1     26         3         1353    1455    AA            428
27     2011 1     27         4         1356    1458    AA            428
28     2011 1     28         5         1359    1505    AA            428
29     2011 1     29         6         1355    1455    AA            428
30     2011 1     30         7         1359    1456    AA            428
...    ...  ...   ...        ...       ...     ...     ...           ...
227467 2011 12    6          2          752     857    WN            1628
227468 2011 12    6          2          651     746    WN            2534
227469 2011 12    6          2         1728    1932    WN             902
227470 2011 12    6          2         1115    1315    WN            1167
227471 2011 12    6          2         1753    1911    WN             513
227472 2011 12    6          2         1222    1335    WN             581
227473 2011 12    6          2          836     946    WN            1223
227474 2011 12    6          2         1352    1749    WN            3085
227475 2011 12    6          2         1850    2046    WN              39
227476 2011 12    6          2          707     903    WN             424
227477 2011 12    6          2         1335    1528    WN            1098
227478 2011 12    6          2         1005    1158    WN            1403
227479 2011 12    6          2         1723    1845    WN              33
227480 2011 12    6          2         1139    1304    WN            1212
227481 2011 12    6          2         2023    2109    WN             207
227482 2011 12    6          2         1542    1637    WN             405
227483 2011 12    6          2         1728    1825    WN             628
227484 2011 12    6          2         1252    1349    WN             994
227485 2011 12    6          2          857     955    WN            1231
227486 2011 12    6          2         1939    2119    WN             124
227487 2011 12    6          2          556     745    WN             280
227488 2011 12    6          2         1026    1208    WN             782
227489 2011 12    6          2         1611    1746    WN            1050
227490 2011 12    6          2          758    1051    WN             201
227491 2011 12    6          2         1307    1600    WN             471
227492 2011 12    6          2         1818    2111    WN            1191
227493 2011 12    6          2         2047    2334    WN            1674
227494 2011 12    6          2          912    1031    WN             127
227495 2011 12    6          2          656     812    WN             621
227496 2011 12    6          2         1600    1713    WN            1597
       TailNum ActualElapsedTime ... ArrDelay DepDelay Origin Dest Distance
1      N576AA  60                ... -10       0       IAH    DFW  224
2      N557AA  60                ...  -9       1       IAH    DFW  224
3      N541AA  70                ...  -8      -8       IAH    DFW  224
4      N403AA  70                ...   3       3       IAH    DFW  224
5      N492AA  62                ...  -3       5       IAH    DFW  224
6      N262AA  64                ...  -7      -1       IAH    DFW  224
7      N493AA  70                ...  -1      -1       IAH    DFW  224
8      N477AA  59                ... -16      -5       IAH    DFW  224
9      N476AA  71                ...  44      43       IAH    DFW  224
10     N504AA  70                ...  43      43       IAH    DFW  224
11     N565AA  70                ...  29      29       IAH    DFW  224
12     N577AA  56                ...   5      19       IAH    DFW  224
13     N476AA  63                ...  -9      -2       IAH    DFW  224
14     N552AA  67                ...  -6      -3       IAH    DFW  224
15     N462AA  60                ... -11      -1       IAH    DFW  224
16     N555AA  70                ...  -1      -1       IAH    DFW  224
17     N518AA  64                ...  84      90       IAH    DFW  224
18     N507AA  60                ...  -2       8       IAH    DFW  224
19     N523AA  67                ...  -7      -4       IAH    DFW  224
20     N425AA  75                ...  72      67       IAH    DFW  224
21     N251AA  62                ... -11      -3       IAH    DFW  224
22     N551AA  61                ... -14      -5       IAH    DFW  224
23     N479AA  65                ...  -9      -4       IAH    DFW  224
24     N531AA  77                ...   3      -4       IAH    DFW  224
25     N561AA  60                ... -18      -8       IAH    DFW  224
26     N541AA  62                ... -15      -7       IAH    DFW  224
27     N512AA  62                ... -12      -4       IAH    DFW  224
28     N4UBAA  66                ...  -5      -1       IAH    DFW  224
29     N491AA  60                ... -15      -5       IAH    DFW  224
30     N561AA  57                ... -14      -1       IAH    DFW  224
...    ...     ...                   ...      ...      ...    ...  ...
227467 N435WN   65               ...   2      -3       HOU    MSY   302
227468 N232WN   55               ...  -9      -4       HOU    MSY   302
227469 N724SW  244               ...   7      23       HOU    OAK  1642
227470 N455WN  240               ... -15       5       HOU    OAK  1642
227471 N362SW   78               ...  31      33       HOU    OKC   419
227472 N646SW   73               ... -10      -3       HOU    OKC   419
227473 N394SW   70               ...  -9       1       HOU    OKC   419
227474 N510SW  177               ...  59      72       HOU    PHL  1336
227475 N754SW  176               ...  71      70       HOU    PHX  1020
227476 N769SW  176               ...  -2      -3       HOU    PHX  1020
227477 N448WN  173               ...  18      20       HOU    PHX  1020
227478 N430WN  173               ...  13      15       HOU    PHX  1020
227479 N698SW  202               ...  70      78       HOU    SAN  1313
227480 N226WN  205               ...  -6      -1       HOU    SAN  1313
227481 N354SW   46               ...  29      43       HOU    SAT   192
227482 N617SW   55               ...  12      12       HOU    SAT   192
227483 N389SW   57               ...   5       3       HOU    SAT   192
227484 N713SW   57               ...   9       7       HOU    SAT   192
227485 N284WN   58               ...   0      -3       HOU    SAT   192
227486 N522SW  100               ...  14      39       HOU    STL   687
227487 N728SW  109               ... -10      -4       HOU    STL   687
227488 N476WN  102               ... -12       1       HOU    STL   687
227489 N655WN   95               ...  -9      16       HOU    STL   687
227490 N903WN  113               ...  -4      -2       HOU    TPA   781
227491 N632SW  113               ...   0       7       HOU    TPA   781
227492 N284WN  113               ...  -9       8       HOU    TPA   781
227493 N366SW  107               ...   4       7       HOU    TPA   781
227494 N777QC   79               ...  -4      -3       HOU    TUL   453
227495 N727SW   76               ... -13      -4       HOU    TUL   453
227496 N745SW   73               ... -12       0       HOU    TUL   453
       TaxiIn TaxiOut Cancelled CancellationCode Diverted
1       7     13      0                          0
2       6      9      0                          0
3       5     17      0                          0
4       9     22      0                          0
5       9      9      0                          0
6       6     13      0                          0
7      12     15      0                          0
8       7     12      0                          0
9       8     22      0                          0
10      6     19      0                          0
11      8     20      0                          0
12      4     11      0                          0
13      6     13      0                          0
14      5     15      0                          0
15      6     10      0                          0
16     12     17      0                          0
17      8      8      0                          0
18      7     11      0                          0
19     10     11      0                          0
20      9     24      0                          0
21      6      9      0                          0
22      9      8      0                          0
23      7     18      0                          0
24      6     28      0                          0
25      7     13      0                          0
26      8     14      0                          0
27     12     10      0                          0
28      8     12      0                          0
29      7      7      0                          0
30      7     11      0                          0
...    ...    ...     ...       ...              ...
227467  4     11      0                          0
227468  5      7      0                          0
227469  5      8      0                          0
227470  6      9      0                          0
227471  4     15      0                          0
227472  3      9      0                          0
227473  4      8      0                          0
227474  5      9      0                          0
227475  4     15      0                          0
227476  4     10      0                          0
227477  4     10      0                          0
227478  3      7      0                          0
227479  3      7      0                          0
227480  2     10      0                          0
227481  4      4      0                          0
227482  4      8      0                          0
227483  4     14      0                          0
227484  5      9      0                          0
227485  5      9      0                          0
227486  4     15      0                          0
227487 13      9      0                          0
227488  4     12      0                          0
227489  3      9      0                          0
227490  3     10      0                          0
227491  5     10      0                          0
227492  5     11      0                          0
227493  4      9      0                          0
227494  4     14      0                          0
227495  3      9      0                          0
227496  3     11      0                          0

       Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
1      2011 12    15         4         2113    2217    AA            426
2      2011 12    16         5         2004    2128    AA            426
3      2011 12    18         7         2007    2113    AA            426
4      2011 12    19         1         2108    2223    AA            426
5      2011 12    20         2         2008    2107    AA            426
6      2011 12    21         3         2025    2124    AA            426
7      2011 12    22         4         2021    2118    AA            426
8      2011 12    23         5         2015    2118    AA            426
9      2011 12    26         1         2013    2118    AA            426
10     2011 12    27         2         2007    2123    AA            426
11     2011 12    28         3         2009    2114    AA            426
12     2011 12    29         4         2003    2111    AA            426
13     2011 12    30         5         2015    2110    AA            426
14     2011 12     1         4          558     905    AA            466
15     2011 12     2         5          558     922    AA            466
16     2011 12     3         6          556     911    AA            466
17     2011 12     4         7          553     906    AA            466
18     2011 12     5         1          558     926    AA            466
19     2011 12     6         2          557     919    AA            466
20     2011 12     7         3          600     911    AA            466
21     2011 12     8         4          555     912    AA            466
22     2011 12     9         5          605     916    AA            466
23     2011 12    10         6          606     919    AA            466
24     2011 12    11         7          554     856    AA            466
25     2011 12    12         1          609     921    AA            466
26     2011 12    13         2          557     918    AA            466
27     2011 12    14         3          557     910    AA            466
28     2011 12    15         4          601     917    AA            466
29     2011 12    16         5          558     922    AA            466
30     2011 12    17         6          557     916    AA            466
...    ...  ...   ...        ...       ...     ...     ...           ...
227467 2011 1     1          6         1118    1221    XE            3041
227468 2011 1     1          6         1956    2247    XE            3050
227469 2011 1     1          6         1642    1728    XE            3053
227470 2011 1     1          6         1126    1306    XE            3054
227471 2011 1     1          6         1257    1430    XE            3056
227472 2011 1     1          6         1013    1124    XE            3060
227473 2011 1     1          6         1806    1854    XE            3071
227474 2011 1     1          6         1828    1934    XE            3078
227475 2011 1     1          6         1356    1648    XE            3082
227476 2011 1     1          6          849    1103    XE            3083
227477 2011 1     1          6         1017    1324    XE            3086
227478 2011 1     1          6         1438    1601    XE            3087
227479 2011 1     1          6          942    1136    XE            3088
227480 2011 1     1          6         1223    1710    XE            3092
227481 2011 1     1          6         1055    1414    XE            3094
227482 2011 1     1          6         1041    1413    XE            3101
227483 2011 1     1          6          934    1049    XE            3103
227484 2011 1     1          6         1916    2029    XE            3105
227485 2011 1     1          6          858    1043    XE            3108
227486 2011 1     1          6         2131    2235    XE            3111
227487 2011 1     1          6         1256    1404    XE            3120
227488 2011 1     1          6         1822    1959    XE            3127
227489 2011 1     1          6         1533    1718    XE            3129
227490 2011 1     1          6         1645    1941    XE            3132
227491 2011 1     1          6         1032    1335    XE            3135
227492 2011 1     1          6         2030    2325    XE            3137
227493 2011 1     1          6         1024    1133    XE            3138
227494 2011 1     1          6         1120    1254    XE            3152
227495 2011 1     1          6         1052    1346    XE            3155
227496 2011 1     1          6         1436    1548    XE            3157
       TailNum ActualElapsedTime ... ArrDelay DepDelay Origin Dest Distance
1      N433AA   64               ...  47      63       IAH    DFW  224
2      N588AA   84               ...  -2      -6       IAH    DFW  224
3      N4XHAA   66               ... -17      -3       IAH    DFW  224
4      N4YDAA   75               ...  53      58       IAH    DFW  224
5      N434AA   59               ... -23      -2       IAH    DFW  224
6      N589AA   59               ...  -6      15       IAH    DFW  224
7      N4YCAA   57               ... -12      11       IAH    DFW  224
8      N510AA   63               ... -12       5       IAH    DFW  224
9      N4YLAA   65               ... -12       3       IAH    DFW  224
10     N4YTAA   76               ...  -7      -3       IAH    DFW  224
11     N514AA   65               ... -16      -1       IAH    DFW  224
12     N578AA   68               ... -19      -7       IAH    DFW  224
13     N593AA   55               ... -20       5       IAH    DFW  224
14     N3CTAA  127               ... -15      -2       IAH    MIA  964
15     N3GEAA  144               ...   2      -2       IAH    MIA  964
16     N3DUAA  135               ...  -9      -4       IAH    MIA  964
17     N3CKAA  133               ... -14      -7       IAH    MIA  964
18     N3CTAA  148               ...   6      -2       IAH    MIA  964
19     N3EEAA  142               ...  -1      -3       IAH    MIA  964
20     N3GKAA  131               ...  -9       0       IAH    MIA  964
21     N3FSAA  137               ...  -8      -5       IAH    MIA  964
22     N3EAAA  131               ...  -4       5       IAH    MIA  964
23     N3ENAA  133               ...  -1       6       IAH    MIA  964
24     N3EVAA  122               ... -24      -6       IAH    MIA  964
25     N3CEAA  132               ...   1       9       IAH    MIA  964
26     N3BJAA  141               ...  -2      -3       IAH    MIA  964
27     N3FAAA  133               ... -10      -3       IAH    MIA  964
28     N3BSAA  136               ...  -3       1       IAH    MIA  964
29     N3EUAA  144               ...   2      -2       IAH    MIA  964
30     N3FEAA  139               ...  -4      -3       IAH    MIA  964
...    ...     ...                   ...      ...      ...    ...  ...
227467 N12142   63               ...  60      58       IAH    CRP  201
227468 N14203  111               ...   8      11       IAH    JAX  817
227469 N17928   46               ...  40      57       IAH    SHV  192
227470 N21154  160               ...  30       1       IAH    ABQ  744
227471 N14993   93               ...   7      -3       IAH    VPS  528
227472 N18556   71               ... -11      -7       IAH    OKC  395
227473 N13997   48               ...  19      36       IAH    AEX  190
227474 N14998  126               ...   8       3       IAH    ELP  667
227475 N18556  112               ... -13      -4       IAH    SDF  788
227476 N14902  134               ...  52      64       IAH    MKE  984
227477 N17115  127               ...  16       2       IAH    JAX  817
227478 N11193   83               ...  -3      -5       IAH    TUL  429
227479 N13979  114               ...  15      12       IAH    MCI  643
227480 N11181   NA               ...  NA      33       IAH    MCI  643
227481 N12552  139               ...  18       0       IAH    GSP  838
227482 N17108  152               ...  10       1       IAH    CMH  986
227483 N16976   75               ...  24      14       IAH    DFW  224
227484 N14930   73               ...  -9      -4       IAH    LIT  374
227485 N41104  105               ... -18      -2       IAH    STL  668
227486 N12195  124               ...  22      11       IAH    ELP  667
227487 N14943   68               ...  -6      -4       IAH    LIT  374
227488 N14943   97               ...  -4      -3       IAH    LBB  458
227489 N41104  105               ... -10      -2       IAH    STL  668
227490 N22971  116               ...   3       0       IAH    JAX  817
227491 N13958  123               ...   1       2       IAH    IND  845
227492 N27190  115               ...  25      35       IAH    LEX  828
227493 N14977   69               ...   7      -1       IAH    SAT  191
227494 N14945   94               ...  -1       0       IAH    AMA  519
227495 N27962  114               ... -17      -3       IAH    SDF  788
227496 N17196  132               ...  -1      -4       IAH    ABQ  744
       TaxiIn TaxiOut Cancelled CancellationCode Diverted
1       6     14      0                          0
2       8     37      0                          0
3       7     13      0                          0
4      11     10      0                          0
5       6     12      0                          0
6       5     11      0                          0
7       6     12      0                          0
8       6     21      0                          0
9       8     14      0                          0
10      4     19      0                          0
11      4     13      0                          0
12     10     13      0                          0
13      8      8      0                          0
14      6     10      0                          0
15     11     17      0                          0
16      9     10      0                          0
17      6     12      0                          0
18     11     21      0                          0
19      9     19      0                          0
20      5     10      0                          0
21      6     13      0                          0
22      6     11      0                          0
23     12     10      0                          0
24      4      7      0                          0
25     10      9      0                          0
26      9     16      0                          0
27      8      9      0                          0
28      6     14      0                          0
29      5     23      0                          0
30     12     16      0                          0
...    ...    ...     ...       ...              ...
227467  3     20      0                          0
227468  5     12      0                          0
227469  8      9      0                          0
227470  4     16      0                          0
227471  8     15      0                          0
227472  3     12      0                          0
227473  5     13      0                          0
227474  2     18      0                          0
227475  6     12      0                          0
227476  4     16      0                          0
227477  4     23      0                          0
227478  5     20      0                          0
227479  4     25      0                          0
227480  6     16      0                          1
227481  5     31      0                          0
227482 13     22      0                          0
227483  5     28      0                          0
227484  4     17      0                          0
227485  3     20      0                          0
227486  4     14      0                          0
227487  5     14      0                          0
227488  5     22      0                          0
227489  5     17      0                          0
227490  4     13      0                          0
227491  4     21      0                          0
227492  7     12      0                          0
227493  4     26      0                          0
227494  4     11      0                          0
227495  5     15      0                          0
227496  3     13      0                          0

#### 6. distinct()
- select와 같이 사용하면 특정 열에 중복되지 않은 값 추출 가능
- unique 와 유사하지만 데이터 프레임 형식으로 돌려준다

In [29]:
library(MASS)
Cars93 %>% dplyr::select(Type) %>% distinct()

  Type
1 Small
2 Midsize
3 Compact
4 Large
5 Sporty
6 Van

#### 7. mutate
- transform 함수와 다른점은 새롭게 생성한 열을 동일한 함수 내에서 바로 사용 가능

In [41]:
iris %>%
mutate(sepal.5.setosa=ifelse(Sepal.Length>=5.0&Species=='setosa',T,F)) %>% head()
head(mutate(iris,Sepal.Length=round(Sepal.Length)))
head(transform(iris,Sepal.Length=round(Sepal.Length)))

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species sepal.5.setosa
1 5.1          3.5         1.4          0.2         setosa   TRUE
2 4.9          3.0         1.4          0.2         setosa  FALSE
3 4.7          3.2         1.3          0.2         setosa  FALSE
4 4.6          3.1         1.5          0.2         setosa  FALSE
5 5.0          3.6         1.4          0.2         setosa   TRUE
6 5.4          3.9         1.7          0.4         setosa   TRUE

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5            3.5         1.4          0.2         setosa
2 5            3.0         1.4          0.2         setosa
3 5            3.2         1.3          0.2         setosa
4 5            3.1         1.5          0.2         setosa
5 5            3.6         1.4          0.2         setosa
6 5            3.9         1.7          0.4         setosa

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5            3.5         1.4          0.2         setosa
2 5            3.0         1.4          0.2         setosa
3 5            3.2         1.3          0.2         setosa
4 5            3.1         1.5          0.2         setosa
5 5            3.6         1.4          0.2         setosa
6 5            3.9         1.7          0.4         setosa

In [35]:
library(hflights)
flight.df <- hflights
flight.tbl <- hflights
#transform 쓰면 에러난다
flight.tbl<-mutate(flight.tbl,
                   gain = ArrDelay - DepDelay,
                   gain.per.hour = gain/(AirTime/60))
head(flight.tbl)

  Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
1 2011 1     1          6         1400    1500    AA            428
2 2011 1     2          7         1401    1501    AA            428
3 2011 1     3          1         1352    1502    AA            428
4 2011 1     4          2         1403    1513    AA            428
5 2011 1     5          3         1405    1507    AA            428
6 2011 1     6          4         1359    1503    AA            428
  TailNum ActualElapsedTime ... Origin Dest Distance TaxiIn TaxiOut Cancelled
1 N576AA  60                ... IAH    DFW  224      7      13      0
2 N557AA  60                ... IAH    DFW  224      6       9      0
3 N541AA  70                ... IAH    DFW  224      5      17      0
4 N403AA  70                ... IAH    DFW  224      9      22      0
5 N492AA  62                ... IAH    DFW  224      9       9      0
6 N262AA  64                ... IAH    DFW  224      6      13      0
  CancellationCode Diverted gain gain.per.hour
1                  0        -10  -15.00000
2                  0        -10  -13.33333
3                  0          0    0.00000
4                  0          0    0.00000
5                  0         -8  -10.90909
6                  0         -6   -8.00000

#### 8. summarise()
- 요약 통계량을 단일 행으로 이루어진 데이터 프레임으로
- R에서 기본 제공하는 요약 통계량 이외에 추가적인 dplyr에서 제공하는 함수들
    - n()          : 데이터 셋의 행의 갯수
    - n_distinct() : x에 포함된 중복되지 않은 고유값의 갯수
    - fisrt(x)     : x[1]
    - last(x)      : x[length(x)]
    - nth(x)       : x[n]

In [44]:
iris %>% summarise(mean(Petal.Length))
iris %>% summarise(s.length.mean=mean(Sepal.Length))

  mean(Petal.Length)
1 3.758

  s.length.mean
1 5.843333

In [53]:
library(MASS)
Cars93 %>% dplyr::select(Model,Type,Manufacturer) %>% summarise(n(),n_distinct(Manufacturer),nth(Manufacturer,5))
Cars93 %>%
dplyr::select(Model,Type,Manufacturer) %>%
summarise(total=n(),distinct=n_distinct(Manufacturer),nth=nth(Manufacturer,5))

  n() n_distinct(Manufacturer) nth(Manufacturer, 5)
1 93  32                       BMW

  total distinct nth
1 93    32       BMW

#### 9.groupby()
- 첫번째 인수에 데이터 프레임 두번째 인수에 집단 변수
- 집단변수의 레벨별로 분할된 객체를 생성한다

In [46]:
head(group_by(iris,Species))
class(group_by(iris,Species))

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

[1] "grouped_df" "tbl_df"     "tbl"        "data.frame"

In [54]:
iris  %>% group_by(Species) %>% summarise(s.length.mean=mean(Sepal.Length))

  Species    s.length.mean
1 setosa     5.006
2 versicolor 5.936
3 virginica  6.588

In [5]:
# group_by 안에 인자로 조건식을 넣어도 된다=> 논리식 T F를 factor처럼 이요할수 잇기 때문
library(dplyr)
library(ggplot2)
mpg.df<-as.data.frame(mpg)
mpg %>% group_by(displ>4) %>% summarise(mean=mean(hwy))
with(mpg.df,aggregate(mpg.df['hwy'],list(displ_over_4=(displ>4)),mean))
aggregate(mpg.df['hwy'],list(displ_over_4=(mpg$displ>4)),mean) # with가 없으니깐 조건식에 mpg$displ>4 이렇게 적어야한다

  displ > 4 mean
1 FALSE     25.96319
2  TRUE     17.64789

  displ_over_4 hwy
1 FALSE        25.96319
2  TRUE        17.64789

  displ_over_4 hwy
1 FALSE        25.96319
2  TRUE        17.64789

#### 10. join
- 기본적으로 data.frame name 공통인걸로 join한다
- 직접 연결시켜줄때 는 by = c("a" = "b") will match x.a to y.b.

In [58]:
tmp.x.df <- data.frame(
  id = c(1,2,3,4,6),
  height = c(160,175,180,177,194)
)
tmp.y.df <- data.frame(
  id = c(5,4,3,2,1),
  weight = c(60,75,80,77,94)
)
inner_join(tmp.x.df,tmp.y.df)
right_join(tmp.x.df,tmp.y.df)
left_join(tmp.x.df,tmp.y.df)
full_join(tmp.x.df,tmp.y.df)

Joining, by = "id"

  id height weight
1 1  160    94
2 2  175    77
3 3  180    80
4 4  177    75

Joining, by = "id"

  id height weight
1 5   NA    60
2 4  177    75
3 3  180    80
4 2  175    77
5 1  160    94

Joining, by = "id"

  id height weight
1 1  160    94
2 2  175    77
3 3  180    80
4 4  177    75
5 6  194    NA

Joining, by = "id"

  id height weight
1 1  160    94
2 2  175    77
3 3  180    80
4 4  177    75
5 6  194    NA
6 5   NA    60

In [57]:
tmp.x.df <- data.frame(
  id = c(1,2,3,4,6),
  height = c(160,175,180,177,194)
)
tmp.y.df <- data.frame(
  id2 = c(5,4,3,2,1),
  weight = c(60,75,80,77,94)
)

left_join(tmp.x.df,tmp.y.df,by=c('id'='id2'))

  id height weight
1 1  160    94
2 2  175    77
3 3  180    80
4 4  177    75
5 6  194    NA

#### 11. sample_n( ) sample_frac( )
- R 내장 sample 함수보다 좀더 간편하다 => data.frame에서 sample함수를 쓰려면 행을 무작위 추출한뒤 다시 인덱스로 사용해야 하기 때문

In [61]:
Cars93[1:5][sample(1:nrow(Cars93),10),]

   Manufacturer  Model      Type    Min.Price Price
15 Chevrolet     Lumina     Midsize 13.4      15.9
10 Cadillac      DeVille    Large   33.0      34.7
58 Mercedes-Benz 190E       Compact 29.0      31.9
50 Lexus         SC300      Midsize 34.7      35.2
49 Lexus         ES300      Midsize 27.5      28.0
53 Mazda         323        Small    7.4       8.3
16 Chevrolet     Lumina_APV Van     14.7      16.3
42 Honda         Civic      Small    8.4      12.1
3  Audi          90         Compact 25.9      29.1
11 Cadillac      Seville    Midsize 37.5      40.1

In [59]:
sample_n(Cars93[1:5],10,replace = T)

   Manufacturer Model   Type    Min.Price Price
1  Plymouth     Laser   Sporty  11.4      14.4
2  Saturn       SL      Small    9.2      11.1
3  Saturn       SL      Small    9.2      11.1
4  Toyota       Tercel  Small    7.8       9.8
5  Mitsubishi   Mirage  Small    7.7      10.3
6  Mazda        RX-7    Sporty  32.5      32.5
7  Mazda        626     Compact 14.3      16.5
8  Chevrolet    Astro   Van     14.7      16.6
9  Ford         Probe   Sporty  12.8      14.0
10 Buick        Riviera Midsize 26.3      26.3

In [60]:
sample_frac(Cars93[1:5],0.1)

  Manufacturer  Model    Type    Min.Price Price
1 Chevrolet     Corvette Sporty  34.6      38.0
2 Oldsmobile    Achieva  Compact 13.0      13.5
3 Mercury       Capri    Sporty  13.3      14.1
4 Hyundai       Scoupe   Sporty   9.1      10.0
5 Mazda         323      Small    7.4       8.3
6 Hyundai       Excel    Small    6.8       8.0
7 Eagle         Summit   Small    7.9      12.2
8 Mercedes-Benz 190E     Compact 29.0      31.9
9 BMW           535i     Midsize 23.7      30.0