## R09 ; 데이터 프레임에서 유용한 함수들

#### 1. ifelse( )

In [3]:
df01<-data.frame(val=c(1,2,3,4,NA,5,NA))
df01$val <- ifelse(is.na(df01$val),mean(df01$val,na.rm = T),df01$val) 
#df01$val[is.na(df01$val)]<-mean(df01$val,na.rm = T)
df01

  val
1 1
2 2
3 3
4 4
5 3
6 5
7 3

#### 2. which( )

In [6]:
df01<-data.frame(val=c(1,2,3,4,NA,5,NA),location=c("경기","서울","인천","대구","부산","대전","울산"))
row.number <- which(df01$location=="경기")
#지역이 경기인것만 출력
df01[row.number,]

  val location
1 1   경기

In [4]:
# 파생적으로 which.max which.min 도 있다
x<- c(10:1)
which.min(x) # index 
which.max(x)
x[which.min(x)]
x[which.max(x)]

[1] 10

[1] 1

[1] 1

[1] 10

#### 3. with( ) within()
- \$ 표시 많이 쓰면 손 아프다
- with( ) : 주로 값을 읽을때
- within( ) : 필드의 값을 수정할때

In [1]:
with(iris,{ 
    print(mean(Sepal.Length))
    print(mean(Sepal.Width)) 
})

[1] 5.843333
[1] 3.057333

In [8]:
df01<-data.frame(val=c(1,2,3,4,NA,5,NA),location=c("경기","서울","인천","대구","부산","대전","울산"))
#df01$val <- ifelse(is.na(df01$val),mean(df01$val,na.rm = T),df01$val) 
within(df01,val<-ifelse(is.na(val),mean(val,na.rm = T),val)) # 좀더 간략해 보인다

  val location
1 1   경기
2 2   서울
3 3   인천
4 4   대구
5 3   부산
6 5   대전
7 3   울산

#### 4. subset(data.frame ,subset,select)
- 조건에 부합하는 데이터 프레임을 돌려준다
- select 에는 열의 이름 혹은 열 번호, 여러개면 벡터로
- subset 행에 대한 논리식

In [12]:
iris.df<-iris
str(iris.df)
head(subset(iris.df,Species=='setosa'))
head(subset(iris.df,Sepal.Length>5))

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1  5.1          3.5         1.4          0.2         setosa
6  5.4          3.9         1.7          0.4         setosa
11 5.4          3.7         1.5          0.2         setosa
15 5.8          4.0         1.2          0.2         setosa
16 5.7          4.4         1.5          0.4         setosa
17 5.4          3.9         1.3          0.4         setosa

In [10]:
iris.df<-iris
head(subset(iris.df,select=c(Sepal.Length,Species),subset=Species=='setosa'))
head(subset(iris.df,select=c(1,5),subset=Species=='setosa'))

  Sepal.Length Species
1 5.1          setosa
2 4.9          setosa
3 4.7          setosa
4 4.6          setosa
5 5.0          setosa
6 5.4          setosa

  Sepal.Length Species
1 5.1          setosa
2 4.9          setosa
3 4.7          setosa
4 4.6          setosa
5 5.0          setosa
6 5.4          setosa

In [12]:
#특정 열 제외 가능 => 컬럼 이름으로 되네 개신기
head(subset(iris.df,select=-Sepal.Length,subset=Species=='setosa'))

  Sepal.Width Petal.Length Petal.Width Species
1 3.5         1.4          0.2         setosa
2 3.0         1.4          0.2         setosa
3 3.2         1.3          0.2         setosa
4 3.1         1.5          0.2         setosa
5 3.6         1.4          0.2         setosa
6 3.9         1.7          0.4         setosa

#### 5. lapply( )
- 인자에 리스트 또는 벡터 coerced by base::as.list.
- return 값이 리스트

In [44]:
# apply도 안되는건 아니다
print(apply(iris[-5],2,mean))
class(apply(iris[-5],2,mean))

Sepal.Length  Sepal.Width Petal.Length  Petal.Width
    5.843333     3.057333     3.758000     1.199333

[1] "numeric"

In [45]:
print(lapply(iris[-5],mean))
class(lapply(iris[-5],mean))

$Sepal.Length
[1] 5.843333

$Sepal.Width
[1] 3.057333

$Petal.Length
[1] 3.758

$Petal.Width
[1] 1.199333

[1] "list"

In [42]:
lst01<-list(a=c(1,2,3),b=c(1,2,3,4,5,2,2))
print(lapply(lst01,mean))
class(lapply(lst01,mean))

$a
[1] 2

$b
[1] 2.714286

[1] "list"

#### 6. sapply( )
- 대상에 리스트 또는 벡터 coerced by base::as.list.
- lapply( )와 동일한 기능
- return 값이 벡터

In [35]:
print(sapply(iris[-5],mean))
class(sapply(iris[-5],mean))

Sepal.Length  Sepal.Width Petal.Length  Petal.Width
    5.843333     3.057333     3.758000     1.199333

[1] "numeric"

In [37]:
lst01<-list(a=c(1,2,3),b=c(1,2,3,4,5,2,2))
print(sapply(lst01,mean))
class(sapply(lst01,mean))

       a        b
2.000000 2.714286

[1] "numeric"

#### 7. tapply( )
- 기준으로 나눠서 계산한다
- default return값은 배열이다
- 주로 object는 vector를 사용하는게 좋다 => 안그러면 좀 복잡해짐
- 2개이상의 집단별 조건일때는 list 사용

In [5]:
tapply(iris$Sepal.Length,iris$Species,mean)
str(tapply(iris$Sepal.Length,iris$Species,mean)) # 1 dimenstion array

    setosa versicolor  virginica
     5.006      5.936      6.588

 num [1:3(1d)] 5.01 5.94 6.59
 - attr(*, "dimnames")=List of 1
  ..$ : chr [1:3] "setosa" "versicolor" "virginica"

In [8]:
# simplify => list로 돌려준다
str(tapply(iris$Sepal.Length,iris$Species,mean,simplify = F))

List of 3
 $ setosa    : num 5.01
 $ versicolor: num 5.94
 $ virginica : num 6.59
 - attr(*, "dim")= int 3
 - attr(*, "dimnames")=List of 1
  ..$ : chr [1:3] "setosa" "versicolor" "virginica"

In [10]:
str(mtcars)

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

In [14]:
tapply(mtcars$mpg,list(Cylinder=mtcars$cyl,mtcars$am),mean)

Cylinder 0      1
       4 22.900 28.07500
       6 19.125 20.56667
       8 15.050 15.40000

#### 8. mapply()
- 인자가 여러개 필요한 함수를 적용시켜준다
- list로 돌려준다

In [2]:
print(mapply(rep,1:4,4:1))

[[1]]
[1] 1 1 1 1

[[2]]
[1] 2 2 2

[[3]]
[1] 3 3

[[4]]
[1] 4

#### 9. aggregate ( )
- 쓰는 형태가 두가지다
- by 이용 : a list of grouping elements, each as long as the variables in the data frame x. The elements are coerced to factors before use
- formula 이용 => aggreagte(target~기준,data,FUN,subset=NULL)
- 인자의 길이에 신경쓸 필요가 있다

In [13]:
car.df <- mtcars
str(car.df)

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

In [26]:
# cyl 컬럼을 기준으로 wt 컬럼의 평균만 구하기
with (car.df,aggregate(wt,by=list(cyl),mean))
with (car.df,aggregate(wt,by=list(cyl=cyl),mean))
aggregate(wt~cyl,car.df,mean)

  Group.1 x
1 4       2.285727
2 6       3.117143
3 8       3.999214

  cyl x
1 4   2.285727
2 6   3.117143
3 8   3.999214

  cyl wt
1 4   2.285727
2 6   3.117143
3 8   3.999214

In [28]:
# 조건 추가하기 혹은 subset 활용
# cyl 컬럼을 기준으로 disp 컬럼의 평균만 구하기 , 근데 disp>120인 경우들에서
with (car.df,aggregate(disp,by=list(cyl=cyl,disp>120),mean))
aggregate(disp~cyl,car.df,subset=(disp>120),mean)

  cyl Group.2 x
1 4   FALSE    84.6000
2 4    TRUE   129.7800
3 6    TRUE   183.3143
4 8    TRUE   353.1000

  cyl disp
1 4   129.7800
2 6   183.3143
3 8   353.1000

In [25]:
# carb , gear 컬럼 두가지를 기준으로 wt 구하기
with (car.df,aggregate(wt,by=list(carb=carb,gear=gear),mean))
aggregate(wt~carb+gear,data=car.df,mean)

   carb gear x
1  1    3    3.046667
2  2    3    3.560000
3  3    3    3.860000
4  4    3    4.685800
5  1    4    2.072500
6  2    4    2.683750
7  4    4    3.093750
8  2    5    1.826500
9  4    5    3.170000
10 6    5    2.770000
11 8    5    3.570000

   carb gear wt
1  1    3    3.046667
2  2    3    3.560000
3  3    3    3.860000
4  4    3    4.685800
5  1    4    2.072500
6  2    4    2.683750
7  4    4    3.093750
8  2    5    1.826500
9  4    5    3.170000
10 6    5    2.770000
11 8    5    3.570000

In [24]:
# gear 기준으로 disp, wt 평균 구하기
with (car.df,aggregate(car.df[c("disp","wt")],by=list(gear=gear),mean))
with (car.df,aggregate(cbind(disp,wt),by=list(gear=gear),mean))
aggregate(cbind(disp,wt)~gear,data=car.df,mean)
with (car.df,aggregate(c(disp,wt),by=list(gear=gear),mean))


# Error를 잘 확인하면 => aggregate(x,by=) x 와 by 인자가 같은 길이를 가져야한다ㅠ

  gear disp     wt
1 3    326.3000 3.892600
2 4    123.0167 2.616667
3 5    202.4800 2.632600

  gear disp     wt
1 3    326.3000 3.892600
2 4    123.0167 2.616667
3 5    202.4800 2.632600

  gear disp     wt
1 3    326.3000 3.892600
2 4    123.0167 2.616667
3 5    202.4800 2.632600

ERROR: Error in aggregate.data.frame(as.data.frame(x), ...): arguments must have same length

In [23]:
# cyl 제외한 다른 모든 컬럼을 기준으로 cyl 의 평균을 구하기
with(car.df,aggregate(cyl,as.list(car.df[-2]),mean)) #as.list 안하면=> list(data.frame) 원소 1개다
aggregate(cyl~.,car.df,mean)

   mpg  disp  hp  drat wt    qsec  vs am gear carb x
1  21.4 258.0 110 3.08 3.215 19.44 1  0  3    1    6
2  21.5 120.1  97 3.70 2.465 20.01 1  0  3    1    4
3  18.1 225.0 105 2.76 3.460 20.22 1  0  3    1    6
4  22.8 108.0  93 3.85 2.320 18.61 1  1  4    1    4
5  27.3  79.0  66 4.08 1.935 18.90 1  1  4    1    4
6  32.4  78.7  66 4.08 2.200 19.47 1  1  4    1    4
7  33.9  71.1  65 4.22 1.835 19.90 1  1  4    1    4
8  15.5 318.0 150 2.76 3.520 16.87 0  0  3    2    8
9  18.7 360.0 175 3.15 3.440 17.02 0  0  3    2    8
10 19.2 400.0 175 3.08 3.845 17.05 0  0  3    2    8
11 15.2 304.0 150 3.15 3.435 17.30 0  0  3    2    8
12 24.4 146.7  62 3.69 3.190 20.00 1  0  4    2    4
13 22.8 140.8  95 3.92 3.150 22.90 1  0  4    2    4
14 30.4  75.7  52 4.93 1.615 18.52 1  1  4    2    4
15 21.4 121.0 109 4.11 2.780 18.60 1  1  4    2    4
16 26.0 120.3  91 4.43 2.140 16.70 0  1  5    2    4
17 30.4  95.1 113 3.77 1.513 16.90 1  1  5    2    4
18 16.4 275.8 180 3.07 4.070 17.40 0  0  3    3    8
19 17.3 275.8 180 3.07 3.730 17.60 0  0  3    3    8
20 15.2 275.8 180 3.07 3.780 18.00 0  0  3    3    8
21 13.3 350.0 245 3.73 3.840 15.41 0  0  3    4    8
22 14.3 360.0 245 3.21 3.570 15.84 0  0  3    4    8
23 14.7 440.0 230 3.23 5.345 17.42 0  0  3    4    8
24 10.4 460.0 215 3.00 5.424 17.82 0  0  3    4    8
25 10.4 472.0 205 2.93 5.250 17.98 0  0  3    4    8
26 19.2 167.6 123 3.92 3.440 18.30 1  0  4    4    6
27 17.8 167.6 123 3.92 3.440 18.90 1  0  4    4    6
28 21.0 160.0 110 3.90 2.620 16.46 0  1  4    4    6
29 21.0 160.0 110 3.90 2.875 17.02 0  1  4    4    6
30 15.8 351.0 264 4.22 3.170 14.50 0  1  5    4    8
31 19.7 145.0 175 3.62 2.770 15.50 0  1  5    6    6
32 15.0 301.0 335 3.54 3.570 14.60 0  1  5    8    8

   mpg  disp  hp  drat wt    qsec  vs am gear carb cyl
1  21.4 258.0 110 3.08 3.215 19.44 1  0  3    1    6
2  21.5 120.1  97 3.70 2.465 20.01 1  0  3    1    4
3  18.1 225.0 105 2.76 3.460 20.22 1  0  3    1    6
4  22.8 108.0  93 3.85 2.320 18.61 1  1  4    1    4
5  27.3  79.0  66 4.08 1.935 18.90 1  1  4    1    4
6  32.4  78.7  66 4.08 2.200 19.47 1  1  4    1    4
7  33.9  71.1  65 4.22 1.835 19.90 1  1  4    1    4
8  15.5 318.0 150 2.76 3.520 16.87 0  0  3    2    8
9  18.7 360.0 175 3.15 3.440 17.02 0  0  3    2    8
10 19.2 400.0 175 3.08 3.845 17.05 0  0  3    2    8
11 15.2 304.0 150 3.15 3.435 17.30 0  0  3    2    8
12 24.4 146.7  62 3.69 3.190 20.00 1  0  4    2    4
13 22.8 140.8  95 3.92 3.150 22.90 1  0  4    2    4
14 30.4  75.7  52 4.93 1.615 18.52 1  1  4    2    4
15 21.4 121.0 109 4.11 2.780 18.60 1  1  4    2    4
16 26.0 120.3  91 4.43 2.140 16.70 0  1  5    2    4
17 30.4  95.1 113 3.77 1.513 16.90 1  1  5    2    4
18 16.4 275.8 180 3.07 4.070 17.40 0  0  3    3    8
19 17.3 275.8 180 3.07 3.730 17.60 0  0  3    3    8
20 15.2 275.8 180 3.07 3.780 18.00 0  0  3    3    8
21 13.3 350.0 245 3.73 3.840 15.41 0  0  3    4    8
22 14.3 360.0 245 3.21 3.570 15.84 0  0  3    4    8
23 14.7 440.0 230 3.23 5.345 17.42 0  0  3    4    8
24 10.4 460.0 215 3.00 5.424 17.82 0  0  3    4    8
25 10.4 472.0 205 2.93 5.250 17.98 0  0  3    4    8
26 19.2 167.6 123 3.92 3.440 18.30 1  0  4    4    6
27 17.8 167.6 123 3.92 3.440 18.90 1  0  4    4    6
28 21.0 160.0 110 3.90 2.620 16.46 0  1  4    4    6
29 21.0 160.0 110 3.90 2.875 17.02 0  1  4    4    6
30 15.8 351.0 264 4.22 3.170 14.50 0  1  5    4    8
31 19.7 145.0 175 3.62 2.770 15.50 0  1  5    6    6
32 15.0 301.0 335 3.54 3.570 14.60 0  1  5    8    8