## R05 ; mode,typeof,class,as.fuctions

#### mode
- R의 모든 객체는 모드(mode)를 가지고 있음
- 일반적으로 메모리에 물리적으로 저장되는 형태를 의미함
- 가장 분류의 기준이 약하다고 생각하자
- => numeric character logical list function etc... 이중에 반드시 하나가 할당됨

#### typeof
- mode 와 비슷한 역할이다
- 하지만 조금 더 구체적인 분류가 가능 => mode는 조금 outdated
- => integer double complex logial list..

#### class 
- mode와 typeof가 객체의 물리적인 저장 방식을 의미했다면 class는 추상적인 형태를 의미한다
- R이 갖는 데이터 구조가 이에 해당한다
- numeric character matrix array list data.frame

#### str 
- 각 데이터 구조에 따른 class 보여준다
- 데이터도 함께 찔금 보여줌 => 유용하다

#### 아래의 예시들을 통해 간략하게 이해해보자 => 절대 이부분을 암기하려 할 필요는 없다

In [21]:
# vector
a<-c(1.1111,2.1111)
class(a)
typeof(a) # 보다 자세하게 double이라고 보여준다
mode(a)

[1] "numeric"

[1] "double"

[1] "numeric"

In [29]:
# factor
a<-factor(c('1','2','2','1','1'))
class(a) 
typeof(a) # 내부저그로 물리적인 형태는 숫자를 가르킨다 이게 신기함
mode(a)

[1] "factor"

[1] "integer"

[1] "numeric"

In [25]:
# matrix
a <- matrix(1:9,3)
class(a) # matrix는 R의 데이터 구조를 알고싶으면 당연히 class 함수 사용해하는거다
typeof(a)
mode(a)

[1] "matrix"

[1] "integer"

[1] "numeric"

In [24]:
# data.frame
a<-data.frame(a=c(1,2,3),b=c("a","b","c"))
class(a)
typeof(a)
mode(a)
str(a)

[1] "data.frame"

[1] "list"

[1] "list"

'data.frame':	3 obs. of  2 variables:
 $ a: num  1 2 3
 $ b: Factor w/ 3 levels "a","b","c": 1 2 3

### 데이터의 유형의 변환
- 다른 유형의 데이터를 포함가능한 데이터 구조(list,data.frame)에서는 에러발생한다
- 벡터 차원의 접근이다
- as.character as.complex as.numeric as.integer as.logical

In [34]:
as.numeric('1.1')
as.integer('1.4')
as.character('1.675')
as.numeric('abc')

[1] 1.1

[1] 1

[1] "1.675"

Warning message in eval(expr, envir, enclos):
“강제형변환에 의해 생성된 NA 입니다”

[1] NA

In [36]:
a<-factor(c('a','b','b','a','a'))
as.numeric(a)

[1] 1 2 2 1 1

In [44]:
a<-c('a','b','b','a','a')
as.factor(a)

[1] a b b a a
Levels: a b

In [38]:
a<-c(T,F,F,T,F)
as.numeric(a)
as.character(a)

[1] 1 0 0 1 0

[1] "TRUE"  "FALSE" "FALSE" "TRUE"  "FALSE"

In [42]:
a <- matrix(1:9,3)
as.numeric(a)
as.character(a)

[1] 1 2 3 4 5 6 7 8 9

[1] "1" "2" "3" "4" "5" "6" "7" "8" "9"

### 데이터의 구조의 변환
- class 차원의 접근이다
- is.vector( ) is.factor( ) is.matrix( ) is.array( ) is.list( ) is.data.frame( )
- as.vector( ) as.factor( ) as.matrix( ) as.array( ) as.list( ) as.data.frame( )

In [51]:
#벡터
vec<-1:6
# To matirx
as.matrix(vec) # 1열 행렬
cbind(vec) # 1열 행렬
rbind(vec)
matrix(vec,3,2)
# To list => 차이점 잘 보자
print(as.list(vec))
print(list(vec))
# To data.frame 
as.data.frame(vec)

     [,1]
[1,] 1
[2,] 2
[3,] 3
[4,] 4
[5,] 5
[6,] 6

     vec
[1,] 1
[2,] 2
[3,] 3
[4,] 4
[5,] 5
[6,] 6

    [,1] [,2] [,3] [,4] [,5] [,6]
vec 1    2    3    4    5    6

     [,1] [,2]
[1,] 1    4
[2,] 2    5
[3,] 3    6

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

[[4]]
[1] 4

[[5]]
[1] 5

[[6]]
[1] 6

[[1]]
[1] 1 2 3 4 5 6

  vec
1 1
2 2
3 3
4 4
5 5
6 6

In [56]:
# 행렬
mat <- matrix(1:6,2,3) 
# To vector
as.vector(mat) # 열기준으로 벡터로 변경
# To list => 벡터로 변경후 list로 되는거 같다
as.list(mat)
# To data.fame
as.data.frame(mat)

[1] 1 2 3 4 5 6

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

[[4]]
[1] 4

[[5]]
[1] 5

[[6]]
[1] 6

  V1 V2 V3
1 1  3  5
2 2  4  6

In [63]:
# 리스트
lst <- list(a=c(1,2,3),b=c('a',"b",'c'))
# To vector
as.vector(lst) # 아무일 일어나지 않음 *주의*
print(unlist(lst)) # named vector

# To matrix : unlist 후에 다시 벡터를 행렬로 변환
as.matrix(unlist(lst))
matrix(unlist(lst),2,3)

# To data.frame : 당연히 길이가 맞아야 된다
as.data.frame(lst)

$a
[1] 1 2 3

$b
[1] "a" "b" "c"

 a1  a2  a3  b1  b2  b3
"1" "2" "3" "a" "b" "c"

   [,1]
a1 1
a2 2
a3 3
b1 a
b2 b
b3 c

     [,1] [,2] [,3]
[1,] 1    3    b
[2,] 2    a    c

  a b
1 1 a
2 2 b
3 3 c

In [71]:
#데이터 프레임
df <- data.frame(a=c(1,2,3),b=c('a',"b",'c'))

# To vector
as.vector(df)  #아무일 일어나지 않음 데이터 프레임이 하나의 열로 이루어져 있을때는 가능
as.vector(as.matrix(df)) # 이렇게는 가능함

# To matrix
as.matrix(df)

# To list
print(as.list(df))
print(list(df))

  a b
1 1 a
2 2 b
3 3 c

[1] "1" "2" "3" "a" "b" "c"

     a b
[1,] 1 a
[2,] 2 b
[3,] 3 c

$a
[1] 1 2 3

$b
[1] a b c
Levels: a b c

[[1]]
  a b
1 1 a
2 2 b
3 3 c